.example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
    background: #65C294;
    color:#ffffff;

  button{
  color: #f0fff3;
  background-color:#234233;
}

span{
  margin-left: 16px;
}
}

span{
  mat-icon{
    background: none;
  }
}

table {
  width: 100%;
}


mat-form-field{
  font-size: 14px;
  width: 100%;
}

.container{
  max-width: 1200px;
  margin:0 auto;
}





    